.about {
  position: relative;
  padding: 70px 20px;
  background: url("/dist/images/about-background.jpg") center center no-repeat / cover;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#474747, 0.75);
  }

  .about__inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}
