.button {
  display: inline-block;
  padding: 0 18px;
  border: 2px solid #3fc8a7;
  background: #3fc8a7;
  color: #464646;
  font-family: $font-ubuntu;
  line-height: 39px;
  height: 40px;
  text-decoration: none;

  &--awards {
    line-height: 29px;
    height: 30px;
    margin-right: 10px;
  }
}
